useDynLib(Waypoint, .registration=TRUE)
import(methods, Rcpp)
exportPattern("^[[:alpha:]]+")
S3method(checkvalid,coords)
S3method(format,coords)
S3method(print,coords)
S3method(format,waypoints)
S3method(print,waypoints)
S3method(validate,coords)
S3method(validate,waypoints)
export(`%L%`)
